<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitsbypact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:name=".applicationsubclass.ApplicationUser"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/fitsby_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Start of Crittercism.com Code -->
        <activity android:name="com.crittercism.NotificationActivity" />
        <!-- End of Crittercism.com Code -->

        <activity
            android:name=".ExampleActivity"
            android:label="@string/title_activity_example" >
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LeagueLandingActivity"
            android:label="@string/title_activity_league_landing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LeagueCreateActivity"
            android:label="@string/title_activity_league_create"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreditCardActivity"
            android:label="@string/title_activity_credit_card"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".FriendInviteActivity"
            android:label="@string/title_activity_friend_invite"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LeagueJoinActivity"
            android:label="@string/title_activity_league_join"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".GamesActivity"
            android:label="@string/title_activity_games"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewsfeedActivity"
            android:label="@string/title_activity_newsfeed"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CheckInActivity"
            android:label="@string/title_activity_check_in"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeActivity"
            android:label="@string/title_activity_me"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".LeagueJoinDetailActivity"
            android:label="@string/title_activity_league_join_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoggedinActivity"
            android:label="@string/title_activity_loggedin"
            android:screenOrientation="portrait" >
        </activity>
        
		<service android:name=".MessengerService"
        	android:process=":remote"
        	android:exported="false" />
    </application>

</manifest>


