<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitsbypact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ExampleActivity"
            android:label="@string/title_activity_example" >
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".LeagueLandingActivity"
            android:label="@string/title_activity_league_landing" >
        </activity>
        <activity
            android:name=".LeagueCreateActivity"
            android:label="@string/title_activity_league_create" >
        </activity>
        <activity
            android:name=".CreditCardActivity"
            android:label="@string/title_activity_credit_card" >
        </activity>
        <activity
            android:name=".FriendInviteActivity"
            android:label="@string/title_activity_friend_invite" >
        </activity>
        <activity
            android:name=".LeagueJoinActivity"
            android:label="@string/title_activity_league_join" >
        </activity>
        <activity
            android:name=".GamesActivity"
            android:label="@string/title_activity_games" >
        </activity>
        <activity
            android:name=".NewsfeedActivity"
            android:label="@string/title_activity_newsfeed" >
        </activity>
        <activity
            android:name=".CheckInActivity"
            android:label="@string/title_activity_check_in" >
        </activity>
        <activity
            android:name=".MeActivity"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name=".LeagueJoinDetailActivity"
            android:label="@string/title_activity_league_join_detail" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>